* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.card {
    background-color: #222;
    max-width: 470px;
    background: linear-gradient(135deg, rgba(81, 231, 134, 0.5), rgba(3, 70, 255, 0.5));
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 2% 20px;
    text-align: center;

}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 25px;
}

#toggleUnit{
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 30px;
    border: #fff 1px solid;
    border-radius: 8px;
    background: rgba(224, 223, 223, 0.2);
    cursor: pointer;
    transition: transform 0.2s; /* 添加过渡效果，使平移变化平滑 */
}

#toggleUnit:active {
    transform: translate(1px, 2px); /* 在Y轴方向上向下平移2像素 */
}

.weather-container {
    margin: 10px;
}

.weather-icon {
    width: 100px;
}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 20px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;

}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}